    <hr/>
    </center>
  </section>
  <section class="info"><center>
    <a style="text-transform:uppercase; text-decoration:none" href="#">Facebook</a>
    |
    <a style="text-transform:uppercase; text-decoration:none" href="#">Instagram</a>
    |
    <a style="text-transform:uppercase; text-decoration:none" href="#">Contacto</a>
  </center></section>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
