/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  font-size: 16px;
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section,
nav,
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
body {
  background-color: white;
  color: #404040;
  color: #494949;
  font-size: 16px;
  font-size: calc((100vw - 1rem)/28);
  line-height: 1.8;
  margin-bottom: 0;
  overflow-x: hidden;
  max-width: 100vw;
  -webkit-overflow-scrolling: touch;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
@media screen and (min-width: 464px) {
  body {
    font-size: 16px;
  }
}
body > main:first-child {
  padding-top: calc(2.8rem + 0.5em);
}
nav {
  height: 2.8rem;
  max-height: 2.8rem;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  overflow: hidden;
  z-index: 10;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  background: #c3d2f2;
  color: #3d3d0c;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
nav > ul {
  float: right;
  line-height: 2.8rem;
  padding-left: 0;
  margin-bottom: 0;
}
nav > ul > li {
  float: left;
  list-style: none;
  margin: 0;
}
nav > ul > li a {
  display: block;
  color: inherit;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@media screen and (min-width: 768px) {
  nav > ul {
    min-width: 16rem;
  }
}
nav a {
  text-decoration: none;
}
nav h1 {
  display: block;
  float: left;
  margin-top: 0;
  font-size: 25px;
  line-height: 2.8rem;
  padding: 0;
  color: inherit;
}
nav li a:active {
  background-color: #f1f418;
  color: #3c3d06;
}
section,
nav,
main {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  clear: both;
  padding-bottom: 1.6rem;
}
section:after,
nav:after,
main:after {
  display: block;
  clear: both;
  content: "";
}
@media screen and (min-width: 464px) {
  section,
  nav,
  main {
    padding: 1rem calc((100% - 28rem)/2);
  }
}
@media screen and (min-width: 768px) {
  section,
  nav,
  main {
    padding: 1rem calc((100% - 48rem)/2 + 1rem);
  }
}
section > *,
nav > *,
main > * {
  max-width: 56rem;
}
section section,
nav nav,
main main {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}
section.action,
nav.action,
main.action {
  background-color: #b0f987;
  color: #2c3e22;
}
section.reaction,
nav.reaction,
main.reaction {
  background-color: #ffffff;
  color: #404040;
}
section.info,
nav.info,
main.info {
  background-color: #ffffff;
  color: #404040;
  color: #494949;
}
section.warning,
nav.warning,
main.warning {
  background-color: #ffffff;
  color: #404040;
}
section.warning h1,
section.warning h2,
section.warning h3,
nav.warning h1,
nav.warning h2,
nav.warning h3,
main.warning h1,
main.warning h2,
main.warning h3 {
  color: #ffffff;
}
section.success,
nav.success,
main.success {
  background-color: #ffffff;
  color: #404040;
}
section.failure,
nav.failure,
main.failure {
  background-color: #fadfe0;
  color: #3f3838;
}
section.failure h1,
section.failure h2,
section.failure h3,
nav.failure h1,
nav.failure h2,
nav.failure h3,
main.failure h1,
main.failure h2,
main.failure h3 {
  color: #f9d6d7;
}
main {
  margin-bottom: 1rem;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: left;
  align-items: left;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 112.5%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(233,209,11)'/%3E %3Crect width='1' height='1' fill='rgb(219,196,11)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #2f2a02;
}
main * {
  max-width: none;
}
main *:first-child {
  margin-top: 0;
}
main > * {
  max-width: 48rem;
}
main:last-child {
  margin-bottom: 0;
}
main h1 {
  font-size: calc(16px + 2.5vw);
}
main h2 {
  font-size: calc(16px + 1.75vw);
}
main h3 {
  font-size: calc(16px + 1.25vw);
}
main h4 {
  font-size: calc(16px + 1vw);
}
main h5 {
  font-size: calc(16px + 0.75vw);
}
main h6 {
  font-size: calc(16px + 0.25vw);
}
@media screen and (min-width: 1056px) {
  main h1 {
    font-size: 42.4px;
  }
  main h2 {
    font-size: 34.48px;
  }
  main h3 {
    font-size: 29.2px;
  }
  main h4 {
    font-size: 26.56px;
  }
  main h5 {
    font-size: 23.92px;
  }
  main h6 {
    font-size: 18.64px;
  }
}
main.action {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(64,163,8)'/%3E %3Crect width='1' height='1' fill='rgb(58,148,7)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #000000;
}
main.reaction {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(246,99,75)'/%3E %3Crect width='1' height='1' fill='rgb(245,78,50)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #000000;
}
main.info {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(128,213,253)'/%3E %3Crect width='1' height='1' fill='rgb(103,205,252)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #1a2b33;
}
main.warning {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(252,125,66)'/%3E %3Crect width='1' height='1' fill='rgb(252,107,41)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #0d0603;
}
main.warning h1,
main.warning h2,
main.warning h3 {
  color: #ffffff;
}
main.success {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(121,192,121)'/%3E %3Crect width='1' height='1' fill='rgb(103,184,103)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #121d12;
}
main.failure {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(218,32,38)'/%3E %3Crect width='1' height='1' fill='rgb(225,63,47)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #ffffff;
}
main.failure h1,
main.failure h2,
main.failure h3 {
  color: #f9d6d7;
}
button,
.button,
input[type="button"],
input[type="submit"] {
  font-size: 112.5%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  min-height: 32px;
  line-height: 1.8;
  padding: 0.4em .8em;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 0.4em;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  background-color: #7c6f06;
  color: white;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button:active,
.button:active,
input[type="button"]:active,
input[type="submit"]:active {
  background-color: #635905;
  color: #f8f8f3;
}
button.action,
.button.action,
input[type="button"].action,
input[type="submit"].action {
  background-color: #2e7506;
  color: white;
}
button.action:active,
.button.action:active,
input[type="button"].action:active,
input[type="submit"].action:active {
  background-color: #245c04;
  color: #f5f8f3;
}
button.reaction,
.button.reaction,
input[type="button"].reaction,
input[type="submit"].reaction {
  background-color: #c02309;
  color: white;
}
button.reaction:active,
.button.reaction:active,
input[type="button"].reaction:active,
input[type="submit"].reaction:active {
  background-color: #a81e08;
  color: #fcf4f3;
}
button.info,
.button.info,
input[type="button"].info,
input[type="submit"].info {
  background-color: #0374a8;
  color: white;
}
button.info:active,
.button.info:active,
input[type="button"].info:active,
input[type="submit"].info:active {
  background-color: #03638f;
  color: #f2f8fb;
}
button.warning,
.button.warning,
input[type="button"].warning,
input[type="submit"].warning {
  background-color: #c44003;
  color: white;
}
button.warning:active,
.button.warning:active,
input[type="button"].warning:active,
input[type="submit"].warning:active {
  background-color: #ab3702;
  color: #fcf5f2;
}
button.success,
.button.success,
input[type="button"].success,
input[type="submit"].success {
  background-color: #367436;
  color: white;
}
button.success:active,
.button.success:active,
input[type="button"].success:active,
input[type="submit"].success:active {
  background-color: #2e622e;
  color: #f5f8f5;
}
button.failure,
.button.failure,
input[type="button"].failure,
input[type="submit"].failure {
  background-color: #e12d33;
  color: white;
}
button.failure:active,
.button.failure:active,
input[type="button"].failure:active,
input[type="submit"].failure:active {
  background-color: #d51f25;
  color: #fdf5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: .6em;
  line-height: 1.35;
  font-weight: normal;
}
h1 {
  font-size: 2.8em;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
h1 {
  font-size: calc(16px + 2.8vw);
}
h2 {
  font-size: calc(16px + 2.2vw);
}
h3 {
  font-size: calc(16px + 1.8vw);
}
h4 {
  font-size: calc(16px + 1.4vw);
}
h5 {
  font-size: calc(16px + 1.2vw);
}
h6 {
  font-size: calc(16px + 1vw);
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 37.504px;
  }
  h2 {
    font-size: 32.896px;
  }
  h3 {
    font-size: 29.824px;
  }
  h4 {
    font-size: 26.752px;
  }
  h5 {
    font-size: 25.216px;
  }
  h6 {
    font-size: 23.68px;
  }
}
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
}
p.action,
p.reaction,
p.info,
p.warning,
p.success,
p.failure,
ul.action,
ul.reaction,
ul.info,
ul.warning,
ul.success,
ul.failure,
ol.action,
ol.reaction,
ol.info,
ol.warning,
ol.success,
ol.failure {
  padding: 0 0.5em;
  border-radius: 0.2em;
}
img {
  margin-bottom: 1rem;
}
img.action,
img.reaction,
img.info,
img.warning,
img.success,
img.failure {
  padding: 0.5em;
  border-radius: 0.2em;
}
span.padding {
  padding: 0.18em 0.25em 0.22em 0.25em;
}
span.action,
span.reaction,
span.info,
span.warning,
span.success,
span.failure {
  padding: 0.18em 0.25em 0.22em 0.25em;
}
span.action {
  background-color: #40a308;
  color: #000000;
}
span.reaction {
  background-color: #f6634b;
  color: #000000;
}
span.info {
  background-color: #80d5fd;
  color: #1a2b33;
}
span.warning {
  background-color: #fc7d42;
  color: #0d0603;
}
span.success {
  background-color: #79c079;
  color: #121d12;
}
span.failure {
  background-color: #da2026;
  color: #ffffff;
}
form {
  padding: 0;
  margin-bottom: 1rem;
  max-width: 28rem;
}
form input[type="text"],
form textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1rem;
  border: none;
  line-height: 1.8;
  border-bottom: 1px solid #838170;
}
form input,
form label {
  margin-bottom: 0.25em;
}
form input + form input,
form input + form label,
form label + form input,
form label + form label {
  margin-top: 1rem;
}
aside {
  width: 16rem;
  width: calc((100vw - 1rem)*(0.5714285714285714));
  font-size: 87.5%;
  margin: 0 auto 1rem auto;
  border-radius: 0.4em;
}
aside h1 {
  font-size: calc(16px + 1.8vw);
}
aside h2 {
  font-size: calc(16px + 1.5vw);
}
aside h3 {
  font-size: calc(16px + 1.35vw);
}
aside h4 {
  font-size: calc(16px + 1.2vw);
}
aside h5 {
  font-size: calc(16px + 1.1vw);
}
aside h6 {
  font-size: calc(16px + 1vw);
}
@media screen and (min-width: 464px) {
  aside {
    width: 16rem;
  }
  aside h1 {
    font-size: 24.352px;
  }
  aside h2 {
    font-size: 22.96px;
  }
  aside h3 {
    font-size: 22.264px;
  }
  aside h4 {
    font-size: 21.568px;
  }
  aside h5 {
    font-size: 21.104px;
  }
  aside h6 {
    font-size: 20.64px;
  }
}
@media screen and (min-width: 768px) {
  aside {
    float: right;
    margin-top: 1rem;
    clear: both;
  }
  aside:after {
    display: block;
    clear: both;
    content: "";
  }
}
footer {
  width: 100%;
  padding: 0.5em 0;
}
footer button,
footer .button,
footer input[type="button"],
footer input[type="submit"] {
  width: 100%;
  margin-bottom: 0.5em;
}
footer button:last-child,
footer .button:last-child,
footer input[type="button"]:last-child,
footer input[type="submit"]:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 464px) {
  footer button,
  footer .button,
  footer input[type="button"],
  footer input[type="submit"] {
    width: auto;
    margin-bottom: 0;
  }
}
label {
  display: block;
}
table {
  border-radius: 0.4em;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table th {
  background-color: #707070;
  color: white;
}
table td {
  color: #404040;
  color: #494949;
}
table tr {
  background-color: white;
  color: #404040;
  color: #494949;
}
table tr:nth-of-type(odd) {
  background-color: #ffffff;
  color: #404040;
  color: #494949;
}
table.action th {
  background-color: #348606;
  color: white;
}
table.action td {
  color: #040900;
}
table.action tr {
  background-color: #45b109;
  color: #000000;
}
table.action tr:nth-of-type(odd) {
  background-color: #4db709;
  color: #040900;
}
table.reaction th {
  background-color: #cc250a;
  color: white;
}
table.reaction td {
  color: #0c0605;
}
table.reaction tr {
  background-color: #f87863;
  color: #0c0605;
}
table.reaction tr:nth-of-type(odd) {
  background-color: #f87d6d;
  color: #0c0605;
}
table.info th {
  background-color: #0377ad;
  color: white;
}
table.info td {
  color: #29383f;
}
table.info tr {
  background-color: #99ddfd;
  color: #26373f;
}
table.info tr:nth-of-type(odd) {
  background-color: #a3dffd;
  color: #29383f;
}
table.warning th {
  background-color: #d04403;
  color: white;
}
table.warning td {
  color: #26160f;
}
table.warning tr {
  background-color: #fd8e5b;
  color: #190e09;
}
table.warning tr:nth-of-type(odd) {
  background-color: #fd9165;
  color: #26160f;
}
table.success th {
  background-color: #336d33;
  color: white;
}
table.success td {
  color: #1d281c;
}
table.success tr {
  background-color: #8ac88a;
  color: #151e15;
}
table.success tr:nth-of-type(odd) {
  background-color: #90ca8e;
  color: #1d281c;
}
table.failure th {
  background-color: #da2026;
  color: white;
}
table.failure td {
  color: #000000;
}
table.failure tr {
  background-color: #e13238;
  color: #000000;
}
table.failure tr:nth-of-type(odd) {
  background-color: #e23a3b;
  color: #000000;
}
th,
td {
  text-align: left;
  vertical-align: top;
  padding: 0.31em;
}
thead th {
  vertical-align: bottom;
}
tr:first-child > th:first-child {
  border-top-left-radius: 0.4em;
}
tr:first-child > th:last-child {
  border-top-right-radius: 0.4em;
}
tr:last-child > td:first-child {
  border-bottom-left-radius: 0.4em;
}
tr:last-child > td:last-child {
  border-bottom-right-radius: 0.4em;
}
tr > td:first-child,
tr > th:first-child {
  padding-left: 0.5em;
}
tr > td:last-child,
tr > th:last-child {
  padding-right: 0.5em;
}
blockquote {
  padding-left: 1em;
  margin: 0;
  border-color: #f2f530;
  border-style: solid;
  border-width: 0;
  border-left-width: .5em;
  margin-bottom: 1rem;
  max-width: 28rem;
}
blockquote.action,
blockquote.reaction,
blockquote.info,
blockquote.warning,
blockquote.success,
blockquote.failure {
  background: inherit;
  color: inherit;
}
blockquote:nth-of-type(even) {
  text-align: right;
  border-left-width: 0;
  border-right-width: .5em;
  padding-left: 0;
  padding-right: 1em;
}
blockquote cite {
  font-style: italic;
  display: block;
}
blockquote cite:before {
  content: '—';
  padding-right: 5px;
}
blockquote.action {
  border-color: #45b109;
}
blockquote.reaction {
  border-color: #f87863;
}
blockquote.info {
  border-color: #99ddfd;
}
blockquote.warning {
  border-color: #fd8e5b;
}
blockquote.success {
  border-color: #8ac88a;
}
blockquote.failure {
  border-color: #e13238;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  background: #756806;
  background: #000000;
}
ul,
ol {
  max-width: 28rem;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  padding-left: 1.2em;
}
ul.action,
ol.action,
ul.reaction,
ol.reaction,
ul.info,
ol.info,
ul.warning,
ol.warning,
ul.success,
ol.success,
ul.failure,
ol.failure {
  padding-left: 2.4em;
}
li {
  margin-bottom: .6em;
}
li:last-child {
  margin-bottom: .4em;
}
dt {
  font-weight: bold;
  font-size: 90%;
}
dd {
  margin-bottom: 1rem;
}
a {
  color: inherit;
  text-decoration: underline;
}
strong {
  font-weight: bold;
}
fieldset,
img {
  border: 0;
}
caption,
figcaption {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
abbr,
acronym {
  border-bottom: .1em dotted;
  cursor: help;
}
code,
pre {
  background-color: #636363;
  color: white;
  font-family: monospace;
  border-radius: 0.2em;
}
code {
  font-size: 85%;
  padding: 0.25em 0.5em 0.25em 0.5em;
  position: relative;
  top: -0.1em;
}
pre {
  max-width: 28rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding: 0.5em;
}
mark,
::selection {
  background-color: #73f863;
  color: #1d3e19;
}
hr {
  margin: 1rem 0;
  background: #cecece;
  border-color: transparent;
  height: 1px;
  max-width: 28rem;
}
.hide,
.hidden {
  display: none !important;
}
.max-width,
form,
blockquote,
ul,
ol,
pre,
hr {
  max-width: 28rem;
}
.margin-bottom,
main,
p,
img,
form,
form input[type="text"],
form textarea,
blockquote,
dd,
pre,
ul,
ol {
  margin-bottom: 1rem;
}
.border-radius,
button,
.button,
input[type="button"],
input[type="submit"],
aside,
table {
  border-radius: 0.4em;
}
.clearfix,
section,
nav,
main {
  clear: both;
}
.clearfix:after,
section:after,
nav:after,
main:after {
  display: block;
  clear: both;
  content: "";
}
.padding,
aside.action,
aside.reaction,
aside.info,
aside.warning,
aside.success,
aside.failure,
footer.action,
footer.reaction,
footer.info,
footer.warning,
footer.success,
footer.failure {
  padding: 0.5em;
}
.action {
  background-color: #45b109;
  color: #000000;
}
.reaction {
  background-color: #f87863;
  color: #0c0605;
}
.info {
  background-color: #99ddfd;
  color: #26373f;
}
.warning {
  background-color: #fd8e5b;
  color: #190e09;
}
.success {
  background-color: #8ac88a;
  color: #151e15;
}
.failure {
  background-color: #e13238;
  color: #000000;
}
.color1 {
  background-color: #F4DC1A;
  color: #3d3707;
}
.color1a {
  background-color: #f2f530;
  color: #3d3d0c;
}
.color1b {
  background-color: #c6e40b;
  color: #323903;
}
.color1c {
  background-color: #e9d10b;
  color: #2f2a02;
}
.color2 {
  background-color: #d8dcfd;
  color: #36373f;
}
.color2a {
  background-color: #e4e4fe;
  color: #39393f;
}
.color2b {
  background-color: #dfdafd;
  color: #38373f;
}
.color2c {
  background-color: #bfc6fc;
  color: #262832;
}
.color3 {
  background-color: #80f63e;
  color: #203d10;
}
.color3a {
  background-color: #ccfcbd;
  color: #333f2f;
}
.color3b {
  background-color: #73f863;
  color: #1d3e19;
}
.color3c {
  background-color: #5dee0b;
  color: #133002;
}
.color4 {
  background-color: #fdddd8;
  color: #3f3736;
}
.color4a {
  background-color: #fde3da;
  color: #3f3937;
}
.color4b {
  background-color: #fddfe2;
  color: #3f3839;
}
.color4c {
  background-color: #fbbfb6;
  color: #322624;
}
.gray-darker {
  background-color: #000000;
  color: #a6a6a6;
}
.gray-dark {
  background-color: #3e3d35;
  color: #e2e2e1;
}
.gray {
  background-color: gray;
  color: #000000;
}
.gray-light {
  background-color: #838170;
  color: #000000;
}
.gray-lighter {
  background-color: #a2a091;
  color: #080807;
}
.color1 {
  background-color: #F4DC1A;
  color: #3d3707;
}
.color1a {
  background-color: #f2f530;
  color: #3d3d0c;
}
.color1b {
  background-color: #c6e40b;
  color: #323903;
}
.color1c {
  background-color: #e9d10b;
  color: #2f2a02;
}
.color2 {
  background-color: #d8dcfd;
  color: #36373f;
}
.color2a {
  background-color: #e4e4fe;
  color: #39393f;
}
.color2b {
  background-color: #dfdafd;
  color: #38373f;
}
.color2c {
  background-color: #bfc6fc;
  color: #262832;
}
.color3 {
  background-color: #80f63e;
  color: #203d10;
}
.color3a {
  background-color: #ccfcbd;
  color: #333f2f;
}
.color3b {
  background-color: #73f863;
  color: #1d3e19;
}
.color3c {
  background-color: #5dee0b;
  color: #133002;
}
.color4 {
  background-color: #fdddd8;
  color: #3f3736;
}
.color4a {
  background-color: #fde3da;
  color: #3f3937;
}
.color4b {
  background-color: #fddfe2;
  color: #3f3839;
}
.color4c {
  background-color: #fbbfb6;
  color: #322624;
}
.gray-darker {
  background-color: #000000;
  color: #a6a6a6;
}
.gray-dark {
  background-color: #3e3d35;
  color: #e2e2e1;
}
.gray {
  background-color: gray;
  color: #000000;
}
.gray-light {
  background-color: #838170;
  color: #000000;
}
.gray-lighter {
  background-color: #a2a091;
  color: #080807;
}
body {
  border: 5px solid black;
}
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


